---
---

@import "{{ site.theme }}";

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image {
  // margin-left: 5px;
  // margin-right: 5px;
  // margin-
  margin: 5px;
  min-width: 250px;
  min-height: 250px;
  max-height: 350px;
  width: auto;
  height: auto;
  border: 2px dashed teal;
}

// .start-image:hover {
//   background-color: teal;
// }
