@import url("https://fonts.googleapis.com/css?family=Dosis");
@import "_variables";
@import "@material/button/mdc-button";
@import "@material/select/mdc-select";

body {
  font-family: "Dosis", sans-serif;
  // font-weight: 300;
  // width: 100%;
  // display: inline-block;
  // margin: 0 auto;
  // text-align: center;
}

#container {
  text-align: center;

  select {
    margin: 0 auto;
    width: 100px;
  }

  .border-box {
    border: black 1px solid;
  }

  #workspace {
    display: flex;
    justify-content: center;

    & > div {
      margin: 10px;
    }

    #canvasContainer {
      cursor: crosshair;
    }

    #buttonContainer {
      display: flex;
      justify-content: center;
      padding: 20px;
    }
  }
}
